@charset "utf-8";


/* Html body style  */

body{
    margin: 0px;
    top: 0px;
    background-color: #161616;
}

/* unordered list style  */

ul{
    list-style: none;
}

/* anchor tag  */

a{
    text-decoration: none;
}

/* for section  hash is for id   */

#main{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    background-color:#F2D4DE;
    position: relative;
    background-image: url("../Images/gg.png");
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right bottom;
}

/* for navigation  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: content-box;
    padding: 10px 15px;
    background-color: #CCA5B7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0.0, 0.05x);
    z-index: 1;
}

/* for menu eg home about  */
.menu{
    display: flex;
}

/* for anchor tag inside menu list  */


.menu li a{
    padding: 10px 30px;
    color: #262626;
    font-size: 12px;
}
 /* for language links */
.lang{
    color: #292929;
    visibility: hidden;
}


/* for logo  */
.logo{
    font-size:  25px;
    font-weight: bold;
    color: #292929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu li a:hover,
.active{
    background-color: #292929;
    color: #ffffff !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 20px;
}

.name h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 2px;
    columns: #29292929;
}
.cv-btn{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;

}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.4s;

}
.arrow{
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: 3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px ;
}